<ion-modal-view>
  <ion-header-bar>
	  <button class='button button-clear'ng-click='profile.closeModal()'>
	  	Exit
	  </button>
    <h1 class="title">Upload Item</h1>
    <button class='button button-clear button-positive' ng-disabled='!profile.itemForm.$valid || !profile.displayImage' ng-click='profile.uploadItem(profile.item)'>Upload</span></button>
  </ion-header-bar>
  <ion-content scroll='false'>
		<form name='profile.itemForm' class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Name</span>
		    <input name='name' type="text" required ng-model='profile.item.name' placeholder="The name of your item">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Description</span>
		    <input name='description' type="text" required ng-model="profile.item.description" placeholder="How would you describe it?">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Value</span>
		    <input name='description' type="number" required ng-model="profile.item.value" placeholder="How many points would you pay for it?">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Picture</span>
		     <button ng-if='profile.displayImage == undefined' 
		     				class='button button-clear button-full button-positive' 
		     				icon='icon ion-camera' 
		     				ng-click='profile.takePicture()'>picture == 1000 words...</button>
	    	<div ng-if='profile.displayImage !== undefinded' class="item item-body">
  				<img ng-src="{{profile.displayImage}}"
  				 			class='full-image'>
  			</div>
		  </label>
		</form>
  </ion-content>
</ion-modal-view>