<ion-nav-buttons side="right">
  <button class="button button-clear button-positive"
  			 	ng-click='profile.openModal()'>
    Upload
  </button>
</ion-nav-buttons>
<ion-view title='Profile'>
	<ion-content>
		<ion-item-list>
			<div detect-gestures gesture-type="doubletap" call-back='profile.reportEvent' class="itemContainer" ng-repeat='item in profile.user.items'>
					<img ng-src="{{item.image}}" class="full-image itemImage">	
					<div class="hidden itemInfo">
						<div class="itemName">
							<h3>{{item.name}}</h3>
						</div>
						<div class="itemDesc">
							<p>{{item.description}}</p>
						</div>
					</div>	
				</div>
		</ion-item-list>
	</ion-content>	
</ion-view>
