.itemContainer{
	position: relative;	
	border-radius: 10px;
	margin-bottom: 4%;
	background-color: rgba(0, 0, 0, .04);
}

.myCon{
}

.hidden {
	display: none;
}

.double-tap {
	/*animation: shake 2s;*/
	opacity: 0.5;
}

.itemImage{
	border-radius: 10px;
}

.itemInfo{
	position:absolute;
	top: 1em;
	left: 3em;
	overflow: hidden;
}
