<ion-nav-buttons side="right" back='false'>
  <button class="button button-clear" ui-sref='auth.signUp'>
    Sign Up
  </button>
</ion-nav-buttons>
<ion-content scroll="false" hide-
                -button='false'>
  <div class="list">
	  <label class="item item-input">
	    <span class="input-label">Email</span>
	    <input type="email" ng-model='signIn.user.email'>
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Password</span>
	    <input type="password" ng-model='signIn.user.password'>
	  </label>
	  <button class='button button-block button-positive' ng-click='signIn.handleSignIn(signIn.user)'>Sign In</button>
	</div>
	<!-- <button class='button-block button' ui-sref="auth.signUp">Or sign up...</button> -->
</ion-content>

